<table>
  <tr>
    <th>ID</th>
    <td>{{$ctrl.book.ID}}</td>
    <th>Título</th>
    <td>{{$ctrl.book.Title}}</td>
    <th>Nº de páginas</th>
    <td>{{$ctrl.book.PageCount}}</td>
  </tr>
  <tr>
    <th>Fecha de publicación</th>
    <td colspan="5"><time datetime="{{$ctrl.book.PublishDate}}">{{$ctrl.book.PublishDate | date:'dd/MM/yyyy'}}</time></td>
  </tr>
  <tr>
    <th>Descripción</th>
    <td colspan="5">{{$ctrl.book.Description.substr(0,100)}}</td>
  </tr>
  <tr>
    <th>Extracto</th>
    <td colspan="5">{{$ctrl.book.Excerpt.substr(0,200)}}</td>
  </tr>
</table>